doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        header 
        main
            .wrapper 
                .sidebar 
                    h4 Sidebar
                .main-content
                    block title-block
                        .title-block 
                            small WORKING
                            h1.h4 Experience
                    block screen-content 
                        .row
                            .col-12 
                                .work-item.one 
                                    img.img-fluid(src="https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg", alt="")
                                    .bg-primary 
                                    .work-item-meta.bg-primary.p-3
                                        .row
                                            .col-6
                                                span.h5 Job Title 
                                            .col-6.text-end
                                                small August 2017  -  Current

                   
        footer 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js")
        script(src="main.js")