.row.title-block
    .col-12
        small WORKING
        h1.h4 Experience
    .col-12.mb-3 
        .work-item.one 
            .row.g-0
                .col-12.col-md-8 
                    img.img-fluid(src="https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg", alt="")
                .col-12.col-md-4 
                    .bg-primary.h-100 
                        .work-item-meta.bg-primary.p-3.d-flex.flex-column.align-items-center.justify-content-center.h-100
                            .row
                                .col-6.mb-3
                                    span.h5 UI/UX Developer 
                                .col-6.text-end
                                    small 8/2017  -  Current
                                .col-12.mb-3 
                                    p.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit laboriosam non itaque ratione cumque soluta ex qui ipsa temporibus eum.
                                .col-12.ms-auto 
                                    a.btn.btn-secondary.w-100(href="#") View More 

    .col-12.col-md-6.mb-3 
        .work-item.two
            img.img-fluid(src="https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg", alt="")
            .bg-primary 
                .work-item-meta.bg-primary.p-3
                    .row
                        .col-6.mb-3
                            span.h5 UI/UX Developer 
                        .col-6.text-end
                            small 8/2017  -  Current
                        .col-12.mb-3 
                            p.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, id.
                        .col-6.col-md-3.ms-auto 
                            a.btn.btn-secondary.w-100(href="#") View More 
    .col-12.col-md-6(style="margin-bottom: 100px;") 
        .work-item.three
            img.img-fluid(src="https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg", alt="")
            .bg-primary 
                .work-item-meta.bg-primary.p-3
                    .row
                        .col-6.mb-3
                            span.h5 UI/UX Developer 
                        .col-6.text-end
                            small 8/2017  -  Current
                        .col-12.mb-3 
                            p.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, id.
                        .col-6.col-md-3.ms-auto 
                            a.btn.btn-secondary.w-100(href="#") View More 