.row
    .col-12.header-img        
        img.img-fluid(src="https://images.pexels.com/photos/4207708/pexels-photo-4207708.jpeg" alt="tall picture")
section.py-5.bg-white.text-dark
    .row.mx-auto.align-items-center 
        .col-12.col-md-4.p-5 
            h1 Job Title
            small.d-block.mb-3 August 2017 - Current
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis minima iure omnis tempora magnam assumenda ut eos temporibus commodi quas ab vero consectetur, qui dolor pariatur eligendi nihil! Minus corrupti repellat soluta aliquam inventore quam nam itaque repudiandae sunt rerum.
        .col-12.col-md-8 
            .row.text-center
                .col-12.col-md-6.border-end.border-bottom.p-5
                    .fas.fa-book.fa-3x.text-center
                    small.d-block Daily Responsibilities
                .col-12.col-md-6.border-bottom.p-5
                    .fas.fa-book.fa-3x.text-center
                    small.d-block Daily Responsibilities
                .col-12.col-md-6.border-end.p-5
                    .fas.fa-book.fa-3x.text-center
                    small.d-block Daily Responsibilities
                .col-12.col-md-6.p-5
                    .fas.fa-book.fa-3x.text-center
                    small.d-block Daily Responsibilities
section.bg-white.text-dark 
    .row.align-items-center 
        .col-12.col-md-4
            .callout-img 
                img.img-fluid(src="https://images.pexels.com/photos/5984748/pexels-photo-5984748.jpeg" alt="tall picture") 
        .col-12.col-md-8.p-5 
            h2 Notable Achievements 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi in provident, voluptate reprehenderit suscipit ipsam laboriosam nam adipisci eius officia tempora iure sit id quasi! Adipisci amet explicabo facere pariatur. Ipsa perferendis eius corporis necessitatibus provident natus sunt? Commodi, praesentium!

section.bg-white.text-dark.p-5 
    .row.align-items-center 
        .col-12.col-md-4.p-5 
            h2 What I've Learned 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit dolore assumenda, iure nam voluptatum porro. Eveniet sequi, eligendi ducimus magnam debitis nihil minima officia accusantium nostrum qui cupiditate, illum dolore, animi neque! Nemo eum dolorum rem, animi omnis obcaecati.
        .col-12.col-md-8
            .row.align-items-center.mb-3 
                .col-12.col-md-4
                    .callout-img-small 
                        img.img-fluid(src="https://images.pexels.com/photos/4207708/pexels-photo-4207708.jpeg" alt="tall picture")
                .col-12.col-md-8 
                    h4 Point Number One
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus ipsam harum quidem aperiam dignissimos aliquid? Voluptatibus delectus amet cupiditate.
            .row.align-items-center.mb-3 
                .col-12.col-md-4
                    .callout-img-small 
                        img.img-fluid(src="https://images.pexels.com/photos/4207708/pexels-photo-4207708.jpeg" alt="tall picture")
                .col-12.col-md-8 
                    h4 Point Number Two
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus ipsam harum quidem aperiam dignissimos aliquid? Voluptatibus delectus amet cupiditate.
            .row.align-items-center 
                .col-12.col-md-4
                    .callout-img-small 
                        img.img-fluid(src="https://images.pexels.com/photos/4207708/pexels-photo-4207708.jpeg" alt="tall picture")
                .col-12.col-md-8 
                    h4 Point Number Three 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus ipsam harum quidem aperiam dignissimos aliquid? Voluptatibus delectus amet cupiditate.

